.kumar
{
    background-image:url("https://cdni.iconscout.com/illustration/premium/thumb/sign-up-page-1886582-1598253.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right:450px;
}
.lappy
{
    margin-left:850px;
}
